@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Quantico", sans-serif;
}

#navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px 80px;
}

#navbar img {
	width: 47px;
}

#ul-div {
	margin-top: 13px;
}

#navbar ul {
	display: flex;
	list-style: none;
	gap: 40px;
	font-family: "Ubuntu", sans-serif;
	height: fit-content;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

.btn {
	background: #1fb598;
	color: white;
	border-radius: 10px;
	line-height: 15px;
	width: 150px;
}

.login-image {
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.login-image img {
	position: relative;
	left: 0px;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.login-image h1 {
	color: #1fb598;
	position: absolute;
	font-weight: 700;
	font-size: 100px;
	line-height: 100px;
}

.container {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.inputs {
	display: flex;
}

.container p {
	font-weight: 400;
	font-size: 24px;
	margin: 0px !important;
	padding: 20px 0px;
}

.container-input {
	margin: 0px !important;
	display: flex;
	align-items: center;
	border-radius: 7px;
	font-size: 20px;
	width: 500px;
	height: 55px;
	padding: 20px;
}

.cont-btn{
  display: flex;
  justify-content: center;
}

.cont-btn button{
	background: #1fb598;
	color: white;
	border-radius: 10px;
	width: 150px;
	padding: 12px 0px;
	border: none;
	font-weight: 400;
	font-size: 20px;
}

.single-input {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}

.verify-line{
  padding-top: 30px;
}

.verify-line p{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	padding: 0px 0px !important;
}

.verify-line-1{
  font-weight: 600;
  font-size: 24px !important;
  line-height: 50px;
}

.verify-line-2{
  font-weight: 400;
  font-size: 16px !important;
  line-height: 22px;
  color: #9B9B9B;
}

.discord-input{
  padding-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.discord-input input{
  width: 57.08px;
  height: 79.71px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

.discord-input p{
  padding: 0px 26px;
}

.send-code{
  display: flex;
  justify-content: center;
}

.send-code p{
  font-weight: 400;
  font-size: 16px !important;
  color: #9B9B9B;
  text-align: center;
  padding: 27px 0px 30px 0px;
}

.send-code-click{
  color: #4C4C4C !important;
  padding-left: 5px !important;
}

footer{
margin-top: 100px;
}