#navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px 80px;
  background-color: var(--secondary-color) !important;
}

#navbar img {
	width: 47px;
}

#ul-div {
	margin-top: 13px;
}

#navbar .navbar-nav {
	display: flex;
	list-style: none;
	gap: 40px;
	font-family: "Ubuntu", sans-serif;
	height: fit-content;
	font-weight: bold;
  align-items: center;
  color: var(--text-dark-color);
}

#navbar .navbar-collapse {
  justify-content: end;
}

.navbar-toggler {
  background-color: var(--primary-color);
} 

#toggle-dark-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--secondary-inverted-color);
}

#toggle-dark-mode img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media only screen and (max-width: 992px){
  #navbar {
    padding: 20px 40px;
  }
  #navbar .navbar-nav {
    gap: 20px;
  }
}