@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quantico", sans-serif;
}

body p {
  margin-bottom: 0px;
}

.login-image {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.login-image img {
  position: relative;
  left: 0px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  max-height: 350px;
  min-height: 280px;
}

.login-image h1 {
  text-align: center;
  color: #1fb598;
  position: absolute;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* width: 50%; */
}

.heading p {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}

.commision-para p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #9B9B9B;
}

footer{
  margin-top: 70px;
}