body {
  --primary-color: #1fb598;
  --secondary-color: #fff;
  --secondary-inverted-color: #1E1E1E;
  --table-row-light-color: #ddd;
  --table-row-dark-color: #A6A6A6;
  --text-light-color: #fff;
  --text-inverted-color: #fff;
  --text-dark-color: #000;
  --footer-color: #d9d9d9;
  --bg-color: #fff;
  --bg-dark-color: rgba(0, 0, 0, 0.1);
}

body.dark {
  --primary-color: #1fb598;
  --secondary-color: #1E1E1E;
  --secondary-inverted-color: #fff;
  --footer-color: #000;
  --text-light-color: #000;
  --text-dark-color: #fff;
  --bg-color: #121212;
  --bg-dark-color: rgba(255, 255, 255, 0.1);
  --table-row-light-color: #252525;
  --table-row-dark-color: #202020;

  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-dark-color);
}

p {
  color: var(--text-dark-color);
}

.btn {
  background: #1fb598;
  color: white;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  line-height: 15px;
  width: 150px;
}

.btn-lg {
  width: 190px;
  min-height: 60px;
}

.btn:hover {
  background: #1fb598 !important;
  color: white !important;
}

ol,
ul {
  padding-left: 0px;
}

.main-heading {
  /* text-align: center; */
}

.main-table-wrapper {
  width: 100% !important;
  overflow-x: auto;
  white-space: nowrap;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--text-light-color);
  text-decoration: none;
  background-color: var(--primary-color);
}

.dropdown-menu {
  padding: 15px;
  border-radius: 15px;
  top: 125% !important;
  background-color: var(--secondary-color);
}

.dropdown-item {
  border-radius: 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--primary-color);
}

.dropdown-menu a {
  color: var(--text-dark-color) !important;
}

.dropdown-menu li {
  padding: 5px 0px;
  border-bottom: 1px solid #82828273;
}

.dropdown-menu li:last-child {
  border-bottom: 1px solid transparent;
}

input {
  background-color: var(--bg-color);
  border: 1px solid var(--text-dark-color);
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1000px) {
  .main-heading {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 500px) {
}
